<div class="card-columns m-5 animated fadeIn puntero">
    <div class="card" (click)="verArtista( item )" *ngFor="let item of items">
        <!-- Usamos un pipe personalizado llamado 'noimage' para poder validar las imagenes nulas -->
        <img [src]="item.images | noimage" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">
                <span class="badge badge-pill badge-primary" *ngFor="let artistas of item.artists">
                    {{ artistas.name }}
                </span>
            </p>
        </div>
    </div>
</div>